:root {
  --text-color: skyblue;
}
#firsh {
  color: var(--text-color);
  font-size: 70px;
}
#second {
  color: green;
  font-size: 50px;
}
h2 {
  color: yellow;
  font-size: 40px;
}
#login {
  color: var(--text-color);
}
